.log-body {
    display: flex;
}

.right-sec {
    width: 1000px;
}

.left-sec{
    width: 200px;
    padding-left: 200px;
}

.log-logo {
    width: 905px;
    height: auto;
    padding-top: 30px;
    padding-left: 450px;
    position: relative;
}

.medbase-logo{
    position: relative;
    width: 210px;
    height: 142px;
    padding-top: 41.5%;
    padding-left: 8%;
}

.userName .passWord {
    padding: 200px;
}

#login-btn {
    font-size: 30px;
}

.loginForm {
    padding-top:200px;
}

.login-btn {
    padding-top: 200px;
    padding-left: 150px;
}

.passwordF {
    padding-top: 20px;
}

.usernameF {
    padding-top: 20px;
}

.upperText {
    padding-left: 50px;
    width: 280px;
    border-bottom: 2px solid  rgb(0, 0, 0, 0.3);
    justify-content: center;
    position: relative;
    left: 83px;
    opacity: 0.7;
}

.form-sec {
    padding-top: 40px;
}

.healthText {
    margin-bottom: 8px;
    width: 250px    ;
    padding-right: 30px;
}
