.confirmation-img {
    position: relative;
    top: 110px;
    left: 80px;
    margin-left: 650px;
    width: 400px;
    height: 400px;
}

.confirmation-text-wrapper {
    text-align: center;
    padding-top: 100px;
}

.close-btn-wrapper {
    align-content: center;
}

body {
    height: 950px;
}

